<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">
	
	
<beans>
 	<bean id ="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
 		<property name="driverClassName">
 			<value>com.mysql.jdbc.Driver</value>
 		</property>
 		
 		<property name="url">
 			<value>jdbc:mysql://localhost:3306/javadb?useUnicode=true&amp;characterEncoding=UTF8</value>
 		</property>
 		
		<property name="username">
 			<value>javauser</value>
 		</property>		
 		
 		<property name="password">
 			<value>1234</value>
 		</property>
 		
 		<property name="maxActive">
 			<value>20</value>
 		</property>
 		
 		<property name="maxIdle">
 			<value>5</value>
 		</property>
 		
 		<property name="maxWait">
 			<value>10000</value>
 		</property>
 		
 		
 	</bean>
 	
 	<!--  -->
 	<bean id ="userDAOTarget" class = "net.javajigi.user.dao.MySQLUserDAO">
 		<property name="dataSource">
 			<ref local = "dataSource"/>
 		</property>
 	</bean>
 	
 	<bean id = "userDAO" class = "org.springframework.aop.framework.ProxyFactoryBean">
 		<property name="target">
 			<ref local="userDAOTarget"/>
 		</property>
 		<property name="interceptorNames">
 			<list>
 				<value>userLoggingadvisor</value>
 			</list>
 		</property>
 	</bean>
 	
 	
 	<bean id = "userServiceTarget" class="net.javajigi.user.service.UserServiceImpl">
 		<property name="userDAO">
 			<ref local="userDAO"/>
 		</property>
 	</bean>
 	
 	<bean id = "userService" class = "org.springframework.aop.framework.ProxyFactoryBean">
 		<property name="target">
 			<ref local = "userServiceTarget"/>
 		</property>
 		<property name="interceptorNames">
 			<list>
 				<value>userLoggingadvisor</value> 
 			</list>
 		</property>
 	</bean>
 	
 	
 	<bean id = "userLoggingadvisor" class = "org.springframework.aop.support.DefaultPointcutAdvisor">
 		<property name="advice">
 			<ref local="userLoggingAdvice"/>
 		</property>
 		<property name="pointcut">
 			<bean class="net.javajigi.advice.UserLoggingPointcut"/>
 		</property>
 	</bean>
 	
 	<bean id = "userLoggingAdvice" class = "net.javajigi.advice.UserLoggingAdvice"/>
 	
 	<!--  -->
 	
 	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
 		<property name="basenames">
 			<list>
 				<value>Messages</value>
 			</list>
 		</property>
 	</bean>
 	
 	<bean id = "messageSourceAccessor" class = "org.springframework.context.support.MessageSourceAccessor">
 		<constructor-arg>
 			<ref local="messageSource"/>
 		</constructor-arg>
 	</bean>
</beans>