<!--

1.  주의 :  mysql 드라이버 톰캣 밑에 넣을것 /
    mysql-connecter는 최신1.5x버젼사용할것 

2. server.xml에서    

  <Resource auth="Container" name="jdbc/SpringDS" 
  type="javax.sql.DataSource" 
    driverClassName="com.mysql.jdbc.Driver" password="1234" 
    maxIdle="2" maxWait="5000" username="javauser"
   url="jdbc:mysql://localhost:3306/javadb"
   maxActive="4"/>
   
   

3. server.xml의  맨밑  Context 설정에서 

  <ResourceLink name="jdbc/SpringDS"
                 type="javax.sql.DataSource"
                 global="jdbc/SpringDS"
    />

4. web.xml 에서 

   <resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/SpringDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>


-->